<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Product list</title>
</head>
<body>

<div class="p-3">

{% block menu %}
    <a href="/admin/">Admin</a>
    <a href="/api/products">Api</a>
{% endblock %}


{% block content %}

{% endblock %}


</div>

</body>
</html>